# ======================


# Database

# ======================

*.db

# ======================

# Environment variables

# ======================

.env

# ======================

# Python cache

# ======================

**pycache**/
*.pyc
*.pyo

# ======================

# Virtual environment

# ======================

venv/
env/
.venv/

# ======================

# OS files

# ======================

.DS_Store
Thumbs.db
